*{
    background-color: #000;
    position: fixed;
    width: 100%;
    margin-top: -5px;
    z-index: 999;
}
.title-page {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: yellow;
    padding: 2.5rem 0;
}

@media screen and (max-width: 480px) {
    .title-page {
        font-size: 35px;
        padding: 4rem 20px 2rem;
    }
}

@media screen and (max-width: 300px) {
    .title-page {
        font-size: 30px;
        padding: 2rem 20px;
    }
}